title: 'Ben Wyrosdick'
subtitle: 'Co-founder, <a href="http://mongohq.com">MongoHQ</a>'
photo_filename: 'ben-wyrosdick.png'
META------------------------------------------------------------------------------------------------
%p
  Ben is a co-founder of <a href="http://mongohq.com">MongoHQ</a>, a high-growth
  Database-as-a-Service company, and a <a href="http://ycombinator.com">Y Combinator</a> alumnus.
  He is responsible for the vision and implementation of the technology that makes the MongoHQ
  product special.
%p
  Ben has a background in computer engineering and has worked with numerous development languages
  and database technologies.
