title: 'Blaine Anderson'
subtitle: 'Co-founder, <a href="http://www.pointclearsolutions.com/">PointClear Solutions</a>'
photo_filename: 'blaine-anderson.png'
META------------------------------------------------------------------------------------------------
%p
  Blaine is a co-founder of <a href="http://www.pointclearsolutions.com/">PointClear Solutions</a>,
  a fast growing services company focused on transforming healthcare delivery through user
  experience and technology innovation. PointClear is headquartered in Birmingham with offices in
  Huntsville, Atlanta and Nashville and has an impressive client list including Walgreens, The
  Centers for Disease Control, McKesson and Greenway Medical among others.
%p
  Blaine spent 15 years as an engineer at NASA before taking the leap into entrepreneurship and
  currently serves as PointClear’s COO and Chairman. He is also the co-founder of
  <a href="http://clearboxrights.com/">ClearBox Rights</a>, a Nashville company focused on
  transforming the management of intellectual property for owners and creators.