title: 'David Gray'
subtitle: 'CEO, <a href="http://www.daxko.com">Daxko</a>'
photo_filename: 'david-gray.png'
META------------------------------------------------------------------------------------------------
%p
  David is president and CEO of <a href="http://www.daxko.com">Daxko</a>, a Birmingham-based
  software and services provider for member-based non-profits with nearly 500 customers and 170
  team members around the world.
%p
  Those who know David know he is passionate about promoting Birmingham and high-growth companies.