title: 'G.T. LaBorde'
subtitle: 'Co-founder, MedMined'
photo_filename: 'gt-laborde.png'
META------------------------------------------------------------------------------------------------
%p
  G.T. is a Birmingham-based entrepreneur, venture investor and educator. He was a co-founder of
  MedMined and served as COO from startup up through its sale to Cardinal Health in 2006 for more
  than $100 million in total consideration.
%p
  He is currently an Operating Consultant with Eastside Partners, a Huntsville venture capital
  fund. He is also an Adjunct Professor at the University of Alabama in Birmingham School of
  Business. And, G.T. serves on the Board of Directors at Hygia Health Services and on the Executive
  Committee for TechBirmingham.