title: 'Jason McCay'
subtitle: 'Co-founder, <a href="http://mongohq.com">MongoHQ</a>'
photo_filename: 'jason-mccay.png'
META------------------------------------------------------------------------------------------------
%p
  Jason is a co-founder of <a href="http://mongohq.com">MongoHQ</a>, a high-growth cloud database
  company, and a <a href="http://ycombinator.com">Y Combinator</a> alumnus. He focuses his time on
  the user side of the product by handling day-to-day operations and support. When you interact
  with MongoHQ, chances are that you are interacting with him.