title: 'Jeff Gale'
subtitle: 'Founder, <a href="http://www.ticketbiscuit.com">TicketBiscuit</a>'
photo_filename: 'jeff-gale.png'
META------------------------------------------------------------------------------------------------
%p
  Jeff has been in the web experience business since 1997, when he co-founded Nylon Designs in
  Brooklyn, NY. Jeff developed the original <a href="http://www.ticketbiscuit.com">TicketBiscuit</a>
  system in 2001, and in 2005, turned his full attention to the ticketing needs of the entertainment
  industry.
%p
  Jeff earned his BA in Drama and Theatre Arts cum laude from Columbia University in 1996. He is a
  self-taught engineer and businessman.