title: 'Josh Dennis'
subtitle: 'Co-founder, Centrix &amp; MSI'
photo_filename: 'josh-dennis.png'
META------------------------------------------------------------------------------------------------
%p
  Josh Dennis is co-founder of <a href="http://www.centrixis.com/">Centrix Information Solutions</a>,
  delivering social media solutions and social compliance for financial institutions, higher
  education, healthcare and politics.
%p
  Josh previously was co-founder and President of Marketing Solutions, Inc., (MSI), a CRM solution
  for community banks and credit unions which was acquired by Fidelity in May of 2007. MSI serviced
  over 150 community banks across the United States totaling more than $7 billion in assets.