title: 'Larry Lilley'
subtitle: 'Co-founder, <a href="http://www.askcts.com">CTS</a>'
photo_filename: 'larry-lilley.png'
META------------------------------------------------------------------------------------------------
%p
  Larry is a co-founder of <a href="http://www.askcts.com">CTS</a>, a regional IT consulting firm
  headquartered in Birmingham with offices in Atlanta, Charlotte, Chattanooga, and Mobile. With
  over 20 years of experience in the IT, Larry's accomplishments at CTS have ranged from
  successfully leading teams of varying sizes within the Energy and Utilities industry to
  establishing and chairing the Project Tracking and Oversight committee.
%p
  Larry is also an adjunct professor at the University of Alabama at Birmingham in the School of
  Business and the School of Computer Science.