title: 'Mario Moore'
subtitle: 'Founder, <a href="http://www.gradesfirst.com">GradesFirst</a>'
photo_filename: 'mario-moore.png'
META------------------------------------------------------------------------------------------------
%p
  Mario is the founder and CEO of <a href="http://www.gradesfirst.com">GradesFirst</a>, a provider
  of student support software to over 200 colleges and universities across the country. Mario has
  led the company from a bootstrapped startup to fast-growing market leader.
%p
  Mario is an open book and says no question will be off limits so bring it!