title: 'Tom Patterson'
subtitle: 'Founder, <a href="http://www.daxko.com">Daxko</a>, TXEN, SEAKO'
photo_filename: 'tom-patterson.png'
META------------------------------------------------------------------------------------------------
%p
  Tom has been founding successful, high-growth companies in the Birmingham area since 1979. He is
  chairman of <a href="http://www.daxko.com">Daxko</a>, the company he founded in 1998.  Daxko is
  the predominant provider of technology services to the Y and JCC markets, as well as trade and
  professional associations.
%p
  Prior to Daxko, Tom co-founded TXEN, an Application Service Provider for the managed health care
  industry, which was acquired by <a href="http://www.csc.com">CSC</a>/Nichols Research in Huntsville.
  Before TXEN, Tom founded SEAKO, a major computer systems supplier to the insurance, healthcare,
  and managed care markets, which was bought by CSC.
%p
  Tom is active with the University of Alabama through various advisory boards.