title: 'Tracy Comas'
subtitle: 'Co-founder, <a href="http://www.hygia.net">Hygia Health Services</a>'
photo_filename: 'tracy-comas.png'
META------------------------------------------------------------------------------------------------
%p
  Tracy is a co-founder of <a href="http://www.hygia.net">Hygia Health Services</a>, a
  non-invasive medical device reprocessing company based in Birmingham, Alabama. Tracy has served
  as COO since company inception in 1999 and has managed company performance to achieve an average
  growth of 25% annually.
%p
  In its history, Hygia has reduced healthcare expenses for clients by more than $40 million and
  has eliminated over 1,200 tons of medical waste.
%p
  Tracy is most proud of the fact that Hygia now employs 110 people in the state of Alabama and 60
  additional employees across the country.