title: 'Will Pearson'
subtitle: 'Co-founder, <a href="http://mentalfloss.com/" title="mental_floss website">Mental Floss</a>'
photo_filename: 'will-pearson.png'
META------------------------------------------------------------------------------------------------
%p
  Will Pearson, the "Titan of Trivia" as he’s been called by Newsweek, launched
  <a href="http://mentalfloss.com/" title="mental_floss website">mental_floss</a>
  magazine in 2001. It has received rave reviews from national media, including The Wall Street
  Journal, Entertainment Weekly, The LA Times, and The Washington Post, among others.
%p
  A native of Birmingham, AL, Will co-founded the magazine in a dorm room at Duke and hasn’t looked
  back. Among other honors, the company has been selected as one of America’s fastest-growing
  businesses by Inc magazine four years in a row. Will was also named to Inc’s list of
  "30 Under 30: America’s Coolest Young Entrepreneurs".
%p
  In April 2011, mental_floss was purchased
  by Felix Dennis and is now a wholly-owned subsidiary of <a href="http://theweek.com/">The Week</a>.