title: 2012 Summit
active_nav_link: :recap
META------------------------------------------------------------------------------------------------

/
  Overview
  \========
%header.jumbotron.subhead
  .container
    .inner
      %h1 2012 Birmingham Startup Summit
      %p.lead
        Event follow-up and a virtual takeaway

.container
  %section#photos
    .page-header
      %h1
        Photos from the Event
    %ul.media-grid
      - 0.upto(27) do |i|
        %li
          %a{ rel: 'colorbox', href: "/images/2012/startupsummit-0#{i.to_s.rjust(2, '0')}.jpg", style: i%7 == 0 ? 'clear:left' : '' }
            %img{ src: "/images/2012/thumbs/startupsummit-0#{i.to_s.rjust(2, '0')}.jpg", class: 'thumbnail', width: '100'  }

  %section#virtual-takeaway
    .page-header
      %h1
        Virtual Takeaway
        %small
          A curated list of online resources, articles, blog posts, and more related to startups

    .row
      .span8
        %h6 From Ideas to Actually Starting a Business
        %ul
          %li
            %a{ href: 'http://mattmaroon.com/2012/03/01/how-to-evaluate-your-startup-idea-part-1-the-basics/' }
              How to evaluate your startup idea
          %li
            %a{ href: 'http://www.paulgraham.com/start.html' }
              How to Start a Startup
          %li
            %a{ href: 'http://www.fourhourworkweek.com/blog/2011/09/24/how-to-create-a-million-dollar-business-this-weekend-examples-appsumo-mint-chihuahuas/' }
              How to Create a $1M Business This Weekend
          %li
            %a{ href: 'http://blog.amirkhella.com/2011/02/07/is-your-startup-idea-good-enough/' }
              Is My Business Idea Good Enough?
          %li
            %a{ href: 'http://techcrunch.com/2011/01/30/should-you-really-be-a-startup-entrepreneur/' }
              Should You Really Be A Startup Entrepreneur?
        %h6 Funding
        %ul
          %li
            %a{ href: 'http://cdixon.org/2009/08/16/ideal-first-round-funding-terms/' }
              Ideal first round funding terms
          %li
            %a{ href: 'http://www.bothsidesofthetable.com/2011/10/14/understanding-how-dilution-affects-you-at-a-startup/' }
              Understanding How Dilution Affects You at a Startup
          %li
            %a{ href: 'http://www.launch.co/blog/how-much-money-should-a-startup-have-in-the-bank.html' }
              How Much Money Should a Startup Have in the Bank?
          %li
            %a{ href: 'http://www.techcrunch.com/2012/04/08/excerpt-fundraising-from-1000-to-1000000/' }
              Fundraising from $1,000 to $1 Million
        %h6 Building a Team
        %ul
          %li
            %a{ href: 'http://www.tangosource.com/blog/Finding-a-technical-co-founder-Youre-doing-it-wrong/' }
              Finding a technical co-founder
          %li
            %a{ href: 'http://www.bothsidesofthetable.com/2011/05/26/startup-mantra-hire-fast-fire-fast/' }
              Startup Mantra: Hire Fast, Fire Fast
          %li
            %a{ href: 'https://twitter.com/#!/jasonfried/status/169558329176227840' }
              "You can tell a lot about a person by how quickly they dismiss something they don't understand" -@jasonfried
        %h6 Scaling
        %ul
          %li
            %a{ href: 'http://www.readwriteweb.com/cloud/2010/09/6-saas-metrics-you-should-trac.php' }
              Six Metrics You Should Track
          %li
            %a{ href: 'https://twitter.com/#!/paulg/status/171840230373081088' }
              "API = self-serve biz dev. -@paulg"
          %li
            %a{ href: 'http://www.ashmaurya.com/2011/10/the-10x-product-launch/' }
              The 10X Product Launch
        %h6 Lessons Learned
        %ul
          %li
            %a{ href: 'http://www.paulgraham.com/13sentences.html' }
              Startups in 13 Sentences
          %li
            %a{ href: 'http://tom.preston-werner.com/2011/03/29/ten-lessons-from-githubs-first-year.html' }
              Ten Lessons from GitHub’s First Year
          %li
            %a{ href: 'http://blog.amirkhella.com/2011/02/23/what-i-wish-someone-had-told-me-5-years-ago/' }
              What I Wish Someone Had Told Me 4 Years Ago
          %li
            %a{ href: 'http://cdixon.org/2011/09/28/some-lessons-learned/' }
              Some lessons learned
          %li
            %a{ href: 'http://news.cnet.com/8301-33617_3-57399562-276/seven-startup-sins-to-avoid/' }
              Seven Startup Sins to Avoid
        %h6 More Collections of Resources
        %ul
          %li
            %a{ href: 'http://ycombinator.com/lib.html' }
              Y Combinator’s Startup Library
          %li
            %a{ href: 'http://www.youtube.com/playlist?list=FLkunJivmKwzp5WOvWkXLPew' }
              Birmingham Angel Network YouTube video channel
          %li
            %a{ href: 'http://www.businessinsider.com/careers/instant-mba' }
              Business Insider’s Instant MBA
          %li
            %a{ href: 'http://www.inc.com/video' }
              Inc. Magazine Videos
          %li
            %a{ href: 'http://www.fastcompany.com/mba' }
              Fast Company Magazine’s 30 Second MBA
          %li
            %a{ href: 'http://foundation.kr/' }
              Foundation - Interviews by Kevin Rose (digg) with founders
          %li
            %a{ href: 'http://www.avc.com/a_vc/mba-mondays/' }
              AVC’s MBA Mondays
          %li
            %a{ href: 'http://ecorner.stanford.edu/' }
              Stanford University’s Entrepreneurship Corner

      .span8
        %h6 Timing to Start a Business
        %ul
          %li
            %a{ href: 'http://cdixon.org/2011/12/02/otherwise-do-something-else/' }
              “Otherwise do something else”
          %li
            %a{ href: 'http://techcrunch.com/2012/03/17/why-entrepreneurs-fail/' }
              Why Entrepreneurs Fail And Most Startups Are DOA
        %h6 Sales
        %ul
          %li
            %a{ href: 'http://www.businessinsider.com/the-story-of-the-corcoran-group-2011-3' }
              The Story of the Corcoran Group
          %li
            %a{ href: 'http://www.businessofsoftware.org/video_11_pmckenzie.aspx' }
              Engineering Your Marketing Outcomes
          %li
            %a{ href: 'http://www.bothsidesofthetable.com/on-selling/' }
              Mark Suster’s blog “Both Sides of the Table” - Sales & Marketing topics
          %li
            %a{ href: 'http://www.huthwaite.com/Resource%20Center/SPIN%20eNewsletters.aspx' }
              Huthwaite’s SPIN Sales Newsletters
          %li
            %a{ href: 'http://www.millerheiman.com/knowledge_center/' }
              Miller Heiman Knowledge Center
        %h6 Strategy
        %ul
          %li
            %a{ href: 'http://500hats.typepad.com/500blogs/2007/09/startup-metrics.html' }
              Startup metrics for pirates: AARRR!
        %h6 Failure &amp; Doubt
        %ul
          %li
            %a{ href: 'http://cdixon.org/2012/03/16/the-myth-of-the-overnight-success/' }
              The Myth of the Overnight Success
          %li
            %a{ href: 'http://www.softwarebyrob.com/2010/04/14/the-terror-of-firsts/' }
              The Terror of Firsts
          %li
            %a{ href: 'http://www.softwarebyrob.com/2010/11/10/five-reasons-you-havent-launched/' }
              Five Reasons You Haven’t Launched
          %li
            %a{ href: 'http://news.ycombinator.com/item?id=1566850' }
              Ask Hacker News: Do you have any startup related regrets? Epic failures?
          %li
            %a{ href: 'http://viniciusvacanti.com/2012/03/26/how-getting-rejected-by-founder-collective-helped-save-our-startup/' }
              How Getting Rejected By Founder Collective Helped Save Our Startup
        %h6 Inspiration
        %ul
          %li
            %a{ href: 'http://www.justin.tv/startupschool/videos' }
              Startup School videos
          %li
            %a{ href: 'http://www.youtube.com/watch?v=oGhedOHLTOI' }
              Mint’s CEO on Startups
        %h6 Birmingham
        %ul
          %li
            %a{ href: 'https://twitter.com/#!/deongordon/status/176344092362543104' }
              "We would do Birmingham a great disservice if we dream too-little dreams." -Dr. Volker (1st UAB Pres.)