%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
%script{:src => '/assets/bootstrap/js/bootstrap-twipsy.js'}
%script{:src => '/assets/bootstrap/js/bootstrap-popover.js'}
%script{:src => '/assets/bootstrap/js/bootstrap-modal.js'}
%script{:src => '/assets/bootstrap/js/bootstrap-scrollspy.js'}