title: Apply
active_nav_link: :apply
meta_description: Apply to attend Startup Summit
META------------------------------------------------------------------------------------------------

/
  Overview
  \========
%header.jumbotron.subhead
  .container
    .inner
      .row
        .span11
          %h1 Apply to attend Startup Summit
          %p.lead 
            A free, one-day event featuring talks by local startup founders.
        .span5
          %h3
            %small
              When:
            Tuesday, April 24th, 2012
          %h3
            %small
              Where:
            %a{ href: 'http://www.workplay.com', title: 'WorkPlay', target: '_blank', class: 'external' }<
              WorkPlay
        
.container

  %section#apply
    :javascript
      var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      var z7x3k1 = new WufooForm();
      z7x3k1.initialize({
      'userName':'startupsummit', 
      'formHash':'z7x3k1', 
      'autoResize':true,
      'height':'710',
      'header':'show'});
      z7x3k1.display();