title: Coming to Birmingham, AL on April 24th, 2012
active_nav_link: :root
meta_description: A free, one-day event featuring talks by local startup founders in Birmingham, AL. Coming April 24th, 2012.
META------------------------------------------------------------------------------------------------
/
  Overview
  \========
%header.jumbotron.masthead#overview
  .container
    .inner
      .row
        .span11
          .row
            .span8
              %p
                %img{ class: 'logo', src: '/images/startup-summit-2012-logo.png', width: '427', height: '83' }
            -#
              .span3
                #bvc-banner
                  %a{ href: 'http://www.birminghamventure.com/', title: 'Birmingham Venture Club Website', target: '_blank' }
                    %img{ src: '/images/venture-club-banner.png', width: '155', height: '130' }
          %p.lead 
            A free, one-day event featuring talks by local startup founders. 
            %br/
            Our goal is to inspire tomorrow's founders of high-growth companies in Birmingham.
            %strong
              Come be inspired and start something.
          .row
            .span7
              %h2
                %small
                  When:
                Tuesday, April 24th, 2012
              %h2
                %small
                  Where:
                %a{ href: 'http://www.workplay.com', title: 'WorkPlay', target: '_blank', class: 'external' }<
                  WorkPlay
              %h4
                %a{ href: 'http://bhmstartupdrinks.com', title: 'Birmingham Startup Drinks', target: '_blank', class: 'external' }<
                  Startup Drinks 
                to follow.
            .span4
              %p
                %a{ href: '/2012', title: 'Check out the 2012 recap', class: 'btn huge primary ac' }
                  %strong
                    2012 Recap
                  %small
                    See the awesomeness
.container

  /
    Speakers
    \========    
  %section#speakers
    .page-header
      .row
        .span8
          %h1 Featured Founders
        .span8
          / AddThis Button BEGIN
          .addthis_toolbox.addthis_default_style.pull-right{ add_this_url_and_title }
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
          / AddThis Button END      
    %ul.media-grid
      %li
        %a{ rel: 'colorbox', href: '/speakers/blaine-anderson' }
          %img{ src: '/images/speakers/blaine-anderson.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Blaine Anderson
            %small
              Co-founder, PointClear Solutions
      %li
        %a{ rel: 'colorbox', href: '/speakers/tracy-comas' }
          %img{ src: '/images/speakers/tracy-comas.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Tracy Comas
            %small
              Co-founder, Hygia Health Services
      %li
        %a{ rel: 'colorbox', href: '/speakers/josh-dennis' }
          %img{ src: '/images/speakers/josh-dennis.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Josh Dennis
            %small
              Co-founder, Centrix &amp; MSI
      %li
        %a{ rel: 'colorbox', href: '/speakers/jeff-gale' }
          %img{ src: '/images/speakers/jeff-gale.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Jeff Gale
            %small
              Founder, TicketBiscuit
    %ul.media-grid
      %li
        %a{ rel: 'colorbox', href: '/speakers/gt-laborde' }
          %img{ src: '/images/speakers/gt-laborde.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            G.T. LaBorde
            %small
              Co-founder, MedMined
      %li
        %a{ rel: 'colorbox', href: '/speakers/larry-lilley' }
          %img{ src: '/images/speakers/larry-lilley.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Larry Lilley
            %small
              Co-founder, CTS
      %li
        %a{ rel: 'colorbox', href: '/speakers/jason-mccay' }
          %img{ src: '/images/speakers/jason-mccay.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Jason McCay
            %small
              Co-founder, MongoHQ
      %li
        %a{ rel: 'colorbox', href: '/speakers/mario-moore' }
          %img{ src: '/images/speakers/mario-moore.png', class: 'thumbnail', width: '210', height: '210'  }
          %span
            Mario Moore
            %small
              Founder, GradesFirst
    .row
      .offset2
        %ul.media-grid
          %li
            %a{ rel: 'colorbox', href: '/speakers/tom-patterson' }
              %img{ src: '/images/speakers/tom-patterson.png', class: 'thumbnail', width: '210', height: '210'  }
              %span
                Tom Patterson
                %small
                  Founder, Daxko, TXEN, SEAKO
          %li
            %a{ rel: 'colorbox', href: '/speakers/will-pearson' }
              %img{ src: '/images/speakers/will-pearson.png', class: 'thumbnail', width: '210', height: '210'  }
              %span
                Will Pearson
                %small
                  Co-founder, Mental Floss
          %li
            %a{ rel: 'colorbox', href: '/speakers/ben-wyrosdick' }
              %img{ src: '/images/speakers/ben-wyrosdick.png', class: 'thumbnail', width: '210', height: '210'  }
              %span
                Ben Wyrosdick
                %small
                  Co-founder, MongoHQ
    

  /
    Schedule
    \========    
  %section#schedule
    .page-header
      %h1 Schedule
    .row
      .span9
        %table.bordered-table.zebra-striped
          %tbody
            %tr
              %td.time{ style: 'border-top: 0;' } 9:00
              %td{ style: 'border-top: 0;' } 
                Keynote
                %small
                  David Gray
                  %a{ rel: 'colorbox', href: '/speakers/david-gray' }
                    %img{ src: '/images/info-icon.png', width: '13', height: '13', style: 'vertical-align:baseline' }
            %tr
              %td.time &nbsp;
              %td{ style: 'height: 75px; line-height: 75px;' } Founder Talks
            %tr
              %td.time 10:30
              %td.break Coffee Break
            %tr
              %td.time &nbsp;
              %td{ style: 'height: 75px; line-height: 75px;' } Founder Talks
            %tr
              %td.time 12:00
              %td.break Lunch <small>(provided)</small>
            %tr
              %td.time &nbsp;
              %td{ style: 'height: 75px; line-height: 75px;' } Founder Talks
            %tr
              %td.time 3:00
              %td.break Coffee Break
            %tr
              %td.time &nbsp;
              %td{ style: 'height: 75px; line-height: 75px;' } Founder Talks
            %tr
              %td.time 5:00
              %td Close Up Shop
            %tr
              %td.time 5:30
              %td
                %a{ href: 'http://bhmstartupdrinks.com', title: 'Birmingham Startup Drinks', target: '_blank', class: 'external' }<
                  Startup Drinks
                  
      .span7
        %h4 What is Startup Summit?
        %p
          <iframe src="http://player.vimeo.com/video/35577769?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          %small
            Tony Summerville, Co-Founder of Startup Summit, talks to Jeremy Carter about what Startup Summit is and how to attend.

  /
    Schedule
    \========
  %section#sponsors
    .page-header
      %h1
        Sponsors
        %small
          Huge thanks to the following supporters for helping make Startup Summit happen.
    .row
      .span-one-third
        %p.ac
          %a{ href: 'http://isotope11.com', title: 'isotope|eleven is a software development firm which specializes in developing web-based software applications.' }
            %img{ src: '/images/sponsors/isotope11.png', width: '238', height: '62' }
      .span-one-third
        %p.ac
          %a{ href: 'http://www.fleetio.com', title: 'Fleetio is a fleet maintenance management software system that makes it easy to manage vehicles and equipment.' }
            %img{ src: '/images/sponsors/fleetio.png', width: '241', height: '60' }
      .span-one-third
        %p.ac
          %a{ href: 'http://www.innovationdepot.net' }
            %img{ src: '/images/sponsors/innovation_depot.png', width: '240', height: '99' }
    .row
      .span-one-third
        %p.ac
          %a{ href: 'http://www.birminghamangels.com' }
            %img{ src: '/images/sponsors/ban.jpg', width: '240', height: '131' }
      .span-one-third
        %p.ac
          %a{ href: 'http://chroniclestudio.com' }
            %img{ src: '/images/sponsors/chronicle.png', width: '240', height: '140' }
      .span-one-third
        %p.ac
          %a{ href: 'http://www.apress.com' }
            %img{ src: '/images/sponsors/apress.png', width: '210', height: '126' }
    .row
      .span-one-third
        %p.ac
          %a{ href: 'http://www.jimnnicks.com' }
            %img{ src: '/images/sponsors/jimnnicks.png', width: '251', height: '150' }
      .span-one-third
        %p.ac
          %a{ href: 'https://www.facebook.com/FinerGrindCoffee' }
            %img{ src: '/images/sponsors/finer_grind.png', width: '191', height: '180' }
      .span-one-third
        %p.ac
          %a{ href: 'http://juliehaggard.webs.com' }
            %img{ src: '/images/sponsors/jhaggard_designs.jpg', width: '240', height: '150' }

