title: Thanks for applying
active_nav_link: :apply
META------------------------------------------------------------------------------------------------

/
  Overview
  \========
%header.jumbotron.subhead
  .container
    .inner
      %h1 Thanks for applying
      %p.lead
        We're filtering applications and will let you know if you're in very soon.
        
.container

  %section#success
    
    .row
      .span8
        %h3
          %small
            When:
          Tuesday, April 24th, 2012
        %h3
          %small
            Where:
          TBD (we'll let you know ASAP)
        %h5.calendar
          %a{ href: 'startup_summit_invite.ics', title: 'Download the Startup Summit calendar invite' }<
            Add to your calendar
        
      .span8
        %h2 Spread the word
        %p
          / AddThis Button BEGIN
          .addthis_toolbox.addthis_default_style.addthis_32x32_style{ add_this_url_and_title }
            <a class="addthis_button_twitter" tw:via="bhamventure"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>