title: 'Will Pearson'
subtitle: 'Co-founder, Mental Floss'
photo_filename: 'will-pearson.png'
META------------------------------------------------------------------------------------------------
%p= lorem.sentences(3)
%p= lorem.sentences(4)
%p= lorem.sentences(2)