title: 2012 Summit Videos
active_nav_link: :recap
META------------------------------------------------------------------------------------------------

/
  Overview
  \========
%header.jumbotron.subhead
  .container
    .inner
      %h1 Videos
      %p.lead
        %a{href: '/2012'} &larr; 2012 Birmingham Startup Summit

.container
  %section#videos
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/GM5WiIO9zT8?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 1 (Keynote)
        %h3
          David Gray
          %small CEO of Daxko
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/david-gray' }
            %img{ src: '/images/speakers/david-gray.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/XNO3SzXIIjU?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 2
        %h3
          Josh Dennis
          %small Co-founder of Centrix and MSI
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/josh-dennis' }
            %img{ src: '/images/speakers/josh-dennis.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/nYzL3wFuiJ4?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 3
        %h3
          Tracy Comas
          %small Co-founder, Hygia Health Services
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/tracy-comas' }
            %img{ src: '/images/speakers/tracy-comas.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/nBVzPrxbS9M?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 4
        %h3
          Will Pearson
          %small Co-founder, Mental Floss
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/will-pearson' }
            %img{ src: '/images/speakers/will-pearson.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/YU-PjprA_vA?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 5
        %h3
          Larry Lilley
          %small Co-founder, CTS
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/larry-lilley' }
            %img{ src: '/images/speakers/larry-lilley.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/Q-nIa5OHnY4?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 6
        %h3
          Jason McCay
          %small Co-founder, MongoHQ
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/jason-mccay' }
            %img{ src: '/images/speakers/jason-mccay.png', class: 'thumbnail', width: '105', height: '105'  }
        %h3
          Ben Wyrosdick
          %small Co-founder, MongoHQ
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/ben-wyrosdick' }
            %img{ src: '/images/speakers/ben-wyrosdick.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/g6DWWrSmhAI?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 7
        %h3
          Jeff Gale
          %small Founder, TicketBiscuit
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/jeff-gale' }
            %img{ src: '/images/speakers/jeff-gale.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/kqE_30t8gys?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 8
        %h3
          Blaine Anderson
          %small Co-founder, PointClear Solutions
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/blaine-anderson' }
            %img{ src: '/images/speakers/blaine-anderson.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/grYe-kTe4a8?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 9
        %h3
          Mario Moore
          %small Founder, GradesFirst
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/mario-moore' }
            %img{ src: '/images/speakers/mario-moore.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/gG2aHD4FNC4?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 10
        %h3
          G.T. LaBorde
          %small Co-founder, MedMined
        %p.media-grid
          %a{ rel: 'colorbox', href: '/speakers/gt-laborde' }
            %img{ src: '/images/speakers/gt-laborde.png', class: 'thumbnail', width: '105', height: '105'  }
    %hr/
    .row
      .span10
        <iframe width="560" height="315" src="http://www.youtube.com/embed/vmNF0yhBN4g?rel=0" frameborder="0" allowfullscreen></iframe>
      .span6
        %h6{style: 'line-height: 1'} Part 11
        %h3 Panel Discussion
        .row
          .span3
            %h5 Tom Patterson
            %p.media-grid
              %a{ rel: 'colorbox', href: '/speakers/tom-patterson' }
                %img{ src: '/images/speakers/tom-patterson.png', class: 'thumbnail', width: '105', height: '105'  }
          .span3
            %h5 Tracy Comas
            %p.media-grid
              %a{ rel: 'colorbox', href: '/speakers/tracy-comas' }
                %img{ src: '/images/speakers/tracy-comas.png', class: 'thumbnail', width: '105', height: '105'  }
        .row
          .span3
            %h5 Mario Moore
            %p.media-grid
              %a{ rel: 'colorbox', href: '/speakers/mario-moore' }
                %img{ src: '/images/speakers/mario-moore.png', class: 'thumbnail', width: '105', height: '105'  }
          .span3
            %h5 G.T. LaBorde
            %p.media-grid
              %a{ rel: 'colorbox', href: '/speakers/gt-laborde' }
                %img{ src: '/images/speakers/gt-laborde.png', class: 'thumbnail', width: '105', height: '105'  }
        .row
          .span3
            %h5 Larry Lilley
            %p.media-grid
              %a{ rel: 'colorbox', href: '/speakers/larry-lilley' }
                %img{ src: '/images/speakers/larry-lilley.png', class: 'thumbnail', width: '105', height: '105'  }
